<md-toolbar>
    <div class="md-toolbar-tools">
        <ws-menu></ws-menu>

        <h2>
            <span>WORKSHOP</span>
        </h2>

        <md-button ui-sref="home">home</md-button>
        <md-button ui-sref="food.list">food list</md-button>
        <md-button ui-sref="about">about</md-button>

        <span flex></span>

        <md-button class="md-fab md-raised md-mini" aria-label="Go to basket">
            <a ui-sref="basket"><md-icon>shopping_cart</md-icon></a>
        </md-button>

        <md-button class="md-fab md-raised md-mini" aria-label="Add new food">
            <a ui-sref="food.add"><md-icon>add</md-icon></a>
        </md-button>
    </div>
</md-toolbar>